[Desktop Entry]
Type=Application
Name=GetThermal
GenericName=GetThermal
Comment=Cross-platform Thermal Camera Viewer
Icon=getthermal
Exec=GetThermal
Terminal=false
Categories=Utility;
